{{define "base"}}
<html lang='en'>
    <head>
        <meta charset="utf-8">
        <title>{{template "title" .}} - Snippetbox</title>
        <!-- css stylesheet and favicon -->
        <link rel="stylesheet" href="/static/css/main.css" />
        <link rel="shortcut icon" href="/static/img/favicon.ico" type="image" />
    </head>
    <body>
        <header>
        <h1><a href="/">Snippetbox</a></h1>
        </header>
        <nav>
        <a href="/">Home</a>
        </nav>
        <section>
            {{template "body" .}}
        </section>
        <!-- add footer template -->
        {{template "footer" .}}
        <!-- load the js -->
        <script src="/static/js/main.js" type="text/js"></script>
    </body>
</html>
{{end}}